@using PlatformCTF.Domains.Enums
@{
    ViewBag.Title = "LogedHome";
}

<!DOCTYPE html>
// This is the home page for the logged user
<div class="logedHome">
    <h2>Welcome</h2>
    <p>Here you can see all the available challenges and your progress.</p>
    <p>Good luck!</p>
</div>
@{
if (ViewBag.UserRole == URole.Admin)
{
<a href="@Url.Action("Index", "Admin")" class="btn btn-primary">Admin Panel</a>
}
}
@Html.ActionLink("Logout", "Logout", "Login")