@using PlatformCTF.Domain.Entities.User
@using PlatformCTF.Domains.Enums
@using PlatformCTF.Web.Controllers
@{
    ViewBag.Title = "LogedHome";
}

<!DOCTYPE html>
// This is the home page for the logged user
<div class="logedHome">
    <h2>Welcome</h2>
    <p>Here you can see all the available challenges and your progress.</p>
    <p>Good luck!</p>
</div>
@{
        var authCookie = Request.Cookies["X-KEY"];
        UserMinimal currentUser = null;

        if (authCookie != null)
        {
            string authToken = authCookie.Value;

            var login = new LoginController();
            currentUser = login.GetUserDetails(authToken);
        }

        if (currentUser?.Level == URole.Admin)
        {
        <a href="@Url.Action("Index", "Admin")" class="btn btn-primary">Admin Panel</a>
    }
}

@{
    if (currentUser?.Level == URole.Admin || currentUser?.Level == URole.User)
    {
        <a href="@Url.Action("Challenges", "Challenge")" class="btn btn-primary">Challenges</a>
    }
}

@Html.ActionLink("Logout", "Logout", "Login")