@{
    ViewBag.Title = "Register";
}
<!DOCTYPE html>

<div class="register">
    <h2>Register</h2>
    <form method="post" action="@Url.Action("Index", "Register")">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Enter your username" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" />
        </div>
        <div class="form-group"/>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email">
        </input>
        <div class="form-group"/>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm your password" />
        <div/>
        @using (Html.BeginForm("Register", "Register", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <!-- Other form elements -->
            
            <button type="submit" class="btn btn-primary">Register</button>
        }
        
    </form>
</div>
